doctype html
html(lang='en')
  head
    title Welcome !
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Montserrat&display=swap')
    style
      include style.css
  body
    #brand-banner Berrybox
    .container
      .row.justify-content-center
        .col-7
          .mail-contents
            h1#main-title Welcome!
            hr
            p Welcome to Berrybox! Your registration is now complete.
            p Join or create boxes and start sharing your favorite YouTube videos!
            a(href='https://berrybox.tv').btn.btn-primary Access the site