name: Lint

on: [push]

jobs:
    build:

        runs-on: ubuntu-18.04

        strategy:
            matrix:
                node-version: [10.x, 12.x]

        steps:
            - uses: actions/checkout@v1
            - name: Use Node.js ${{ matrix.node-version }}
              uses: actions/setup-node@v1
              with:
                node-version: ${{ matrix.node-version }}
            - name: Authenticating to Team Berry's GitHub Registry
              run: echo "//npm.pkg.github.com/:_authToken=${{ secrets.REGISTRY_KEY }}" >> ~/.npmrc
            - name: Install Dependencies
              run: npm install
            - name: Lint check
              run: npm run lint:check
              env:
                CI: true
